body {
    background-color: #0C0E14;
    padding: 0;
    margin: 0;
}

.main-padding {
    padding: 0 64px;
}

/**********************
* HEADER
**********************/
body header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    background-color: #070910;
}

body header .left {
    display: flex;
    align-items: center;
}

body header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

body header .logo img {
    height: 32px;
    width: 32px;
}

body header .logo span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #E2E2EB;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 24px;
    font-size: 18px;
}

body header .logo span::after{
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: #D0BCFF;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #D0BCFF;
}

body header nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;

}

body header nav ul li a.profile{
    display: flex;
    align-items: center;
    gap: 4.01px;

}
body header nav ul li a.profile::after{
    content: 'NIV. 2';
    color: #FFB95F;
    font-size: 12px;
    display: block;
    border-radius: 10%;
    background-color: #33343B;
    padding: 2px 4px;
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
}

body header nav ul li a.admin{
    display: flex;
    align-items: center;
    gap: 4.01px;
}

body header nav ul li a.admin::after{
    content: 'ADMIN';
    color: #C9AEFF;
    font-size: 12px;
    display: block;
    border-radius: 10%;
    background-color: #6001D1;
    padding: 2px 4px;
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

body header nav a {
    color: #CBC3D7;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body header nav a.active {
    color: #D0BCFF;
}

body header .right {
    display: flex;
    align-items: center;
    color: #fff;
}


/**********************
* BODY / Block 1
**********************/


<!-----------------------essaie----------------------->
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;
    background: #101118;
    color: #eee;
    font-family: Arial, sans-serif;
}

.catalogue {
    width: 100%;
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.card {
    overflow: hidden;
    background: #171920;
    border-radius: 10px;
}

.card img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.content {
    padding: 20px;
}

.info {
    display: inline-block;
    padding: 6px 9px;
    background: #101117;
    border-radius: 3px;
    color: #ddd;
    font: 12px monospace;
}

h2 {
    margin: 30px 0 8px;
    font-size: 20px;
}

p {
    margin: 0;
    color: #c9c5d2;
    font-size: 13px;
    line-height: 1.5;
}

.evaluation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;

    color: #aaa;
    font-size: 11px;
    font-weight: bold;
}

.stars {
    color: #ffb43b;
    font-size: 17px;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}

button {
    flex: 1;
    height: 38px;

    border: 0;
    border-radius: 5px;

    background: #303139;
    color: #ddd;

    font: 11px monospace;
}

@media (max-width: 800px) {
    .catalogue {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    body {
        padding: 15px;
    }

    .catalogue {
        grid-template-columns: 1fr;
    }
}