body {
    background-color: #0C0E14;
    padding: 0;
    margin: 0;
}

.main-padding {
    padding: 0 64px;
}

/**********************
* HEADER
**********************/
body header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    background-color: #070910;
}

body header .left {
    display: flex;
    align-items: center;
}

body header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

body header .logo img {
    height: 32px;
    width: 32px;
}

body header .logo span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #E2E2EB;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 24px;
    font-size: 18px;
}

body header .logo span::after{
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: #D0BCFF;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #D0BCFF;
}

body header nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;

}

body header nav ul li a.profile{
    display: flex;
    align-items: center;
    gap: 4.01px;

}
body header nav ul li a.profile::after{
    content: 'NIV. 2';
    color: #FFB95F;
    font-size: 12px;
    display: block;
    border-radius: 10%;
    background-color: #33343B;
    padding: 2px 4px;
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
}

body header nav ul li a.admin{
    display: flex;
    align-items: center;
    gap: 4.01px;
}

body header nav ul li a.admin::after{
    content: 'ADMIN';
    color: #C9AEFF;
    font-size: 12px;
    display: block;
    border-radius: 10%;
    background-color: #6001D1;
    padding: 2px 4px;
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

body header nav a {
    color: #CBC3D7;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body header nav a.active {
    color: #D0BCFF;
}

body header .right {
    display: flex;
    align-items: center;
    color: #fff;
}

.boite-entière {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}


/**********************
* BODY / Block 1
**********************/